/* src/components/chatbot.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-decoration: none !important;
  }
  
  .chatbot-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
   
  }
  
  form {
    display: flex;
    align-items: flex-start; /* Align items at the start */
    gap: 10px;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="file"] {
    padding: 8px;
    font-size: 0.875em;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1; /* Take remaining space */
  }
  
  input[type="text"] {
    margin-right: 10px; /* Space between input and options */
  }
  
  select {
    padding: 8px;
    font-size: 0.875em;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 0 0 auto; /* Fixed size */
    width: 120px; /* Adjust width as needed */
  }
  
  button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
  }
  
  .chat {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    height: 600px;
  }
  
  .chat-message {
    margin-bottom: 5px;
    font-size: 0.875em;
  }
  
  .chat-message.user {
    color: blue;
    text-align: left;
  }
  
  .chat-message.assistant {
    color: green;
    text-align: left;
  }
  
  .chatbot-container form {
    display: flex;
    /* flex-direction: column; */
  }
  
  .chatbot-container form input,
  .chatbot-container form input[type="text"] {
    margin-bottom: 5px;
    font-size: 0.875em;
  }
  
  .chatbot-container form input[type="file"] {
    padding: 5px;
  }
  
  .chatbot-container form button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 0.875em;
    border-radius: 4px;
  }
  
  .chatbot-container form button:hover {
    background-color: #0056b3;
  }
  